POSTGRES_USER=n8n
POSTGRES_PASSWORD=StrongPassword123
POSTGRES_DB=n8n

N8N_ENCRYPTION_KEY=ac43e4d3eb3fe6f90b92c7b281db25e6059ab8ca816ecff52176990dbb0b52eb

N8N_HOST=localhost
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/

REDIS_HOST=redis
REDIS_PORT=6379
